body{

	background-image: url("Robot.image.jpg");
	background-size:100%;
	background-repeat:no-repeat;
 	font-family:Tahoma;
	font-style:italic;
	font-weight:bold;
	color:white;
	}
	
h2{
		
		color:white;
		
}
.Stop{
	 padding: 30px;
	
}